.locations, .tags{
  .section{
    margin: 20px 35px;
    .section-title{
      color: lightgrey;
    }
    .section-list{
      color: black;
      font-size: 19px;
      margin: 5px 0;
      border-bottom: 1px solid lightgrey
    }
  }
}