<div class="content">
  <div class="">
    profile
  </div>
</div>

<div class="footer">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="active">
      <a href="home"> <%=image_tag("home_icon.png", height: 33)%></a>
    </li>
    <li>
      <a href="locations"> <%=image_tag("地理.png", height: 33)%></a>
    </li>
    <li>
      <a href="tags"> <%=image_tag("标签icon.png", height: 33)%></a>
    </li>
    <li>
      <a href="#"> <%=image_tag("自己icon.png", height: 33)%></a>
    </li>
  </ul>
</div>
